
*{
  font-family: "Helvetica";
  padding: 0;
  margin: 0;
}


/** section board **/
.board{
  margin: auto;
  width: 90%;
  column-count: 5;
  column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  &-item{
    box-sizing: border-box;
    display: inline-block;
    padding: 6px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    cursor: zoom-in;
    &:hover{
      background-color: #f2f2f2;
      border-radius: 7px;
    }
    &__image{
      width: 100%;
      border-radius: 7px;
    }
    &__title{
      font-size: 14px;
      font-weight: bold;
      color: #444;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    &__subtitle{
      font-size: 12px;
      color: #333;
    }
  }
}

@media (min-width: 0){
  .board{
    column-count: 2;
  }
}

@media (min-width: 768px){
  .board{
    column-count: 3;
  }
}

@media (min-width: 992px){
  .board{
    column-count: 4;
  }
}

@media (min-width: 1000px){
  .board{
    column-count: 5;
  }
}
    
/*COLOR FONT*/
$color--black:#555555;
$color--white:#E9D5D7;
$color--icons:#B5B5B5; 

$bg__modal: #EEEEEE;
$bg__modal--content:#ffffff;
/* BUTTON*/
$bg__btn--guardar: #B7071B;
$bg__btn--default:#E3E3E3;

/*ICONS*/
$bg__color--hover:#F0F0F0;

/*TAMAÑOS MODAL*/
$max-width:100%;
$max-height:100vh;

/*MODAL IMAGES*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin buttons($bg,$pad,$color,$font--size,$porc,$rad){
  background: $bg;
  padding: $pad;
  font-size: $font--size;
  color: $color;
  font-weight: bold;
  border: none;
  border-radius: $rad;
  cursor: pointer;
  outline: none;
  &:hover {
    background: darken($bg,$porc);
    transition: all 0.3s ease;
  }/*
  &:active {
    background:darken($bg,25%);
    border: 2px solid $color--black;
  }*/ 
}

/*Reutilizables para bottones y iconos*/
/*EH creado un minifado que aplica a todos los botones*/
.btn{
    &__guardar{
        @include buttons($bg__btn--guardar,10px 15px,$color--white,1em,4%,5px);
    }
    &__secondary{
        @include buttons($bg__btn--default,9px 12px,$color--black,1em,6%,10px);
    }
    &__icons{
        @include buttons(white,10px 15px,$color--icons,1.5em,10%,50%);
        margin: 5px;
    }
    &--pad{
       margin-left: 5px; 
    }
}


.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &__justify-between{
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    &__justify-spacearound{
        -webkit-box-pack: justify;
        justify-content: space-around;
    }
    &__justify-center{
       -webkit-box-pack: justify;
        justify-content: center; 
    }
}

/*MEDIA QUERY MOBILE VERSION*/

@mixin font($font,$bold,$color){
    font-size: $font;
    font-weight: $bold;
}


.modal{
    top: 0px;
    width: 100%;
    height: 100%;
    background: $bg__modal;
    z-index: 500;
    position: absolute;
    &__contentModal{
        background: $bg__modal--content;
        width: 50%;
        margin: 40px auto;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
    }
    &__header{
        width: 100%;
        padding: 20px 10px;
        z-index: 700;
        background: $bg__modal--content;
        position: relative;
        &--button{
            left: auto;
            right: 25px;
            position: absolute;
        }
        &--fonts{
         @include font(21px,bold,$color--black);   
        }
    }
    &__image{
        width:90%;
        margin: 0 auto;
        position: relative;
        &--border{
            border-radius: 20px;
            width: 100%;
            position: absolute;
        }
    }
    &__close{
        font-size: 2em;
        position: fixed;
        top: 20px;
        right: 50px;
        color: $color--icons;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            color: $color--black;
        }
    }
    &__note{
        font-weight: 500;
        padding: 0.8em 1em;
    }
    &__pin{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 0px){
    
}